<div class="main-menu">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="/chat">AdvantShop. Тестовое задание по ASP.NET MVC</a>
        </li>
        <li class="list-group-item">
            <a href="/todolist">AdvantShop. Тестовое задание по AngularJS</a>
        </li>
        <li class="list-group-item">
            <a href="/pageproof">AdvantShop. Тестовое задание по верстке</a>
        </li>
    </ul>
</div>