<div class="page-proof">
    <div class="page-proof-scroll">
        <div class="page-proof-flex">
            <div class="pricing-header">
                <h3>Our Pricing Plan</h3>
                <h5>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the</h5>
            </div>
            <div class="pricing-blocks">
                <div class="pricing-block">
                    <div class="pricing-block-header">
                        <span class="text-overflow">
                            Basic
                        </span>
                    </div>
                    <div class="pricing-block-price">
                        <span class="price">
                            <span class="text-overflow">
                                $32/mo
                            </span>
                        </span>
                    </div>
                    <div class="pricing-block-params">
                        <ul>
                            <li class="param-row"><span class="text-overflow">1 GB space</span></li>
                            <li class="param-row-alternative"><span class="text-overflow">10 GB Bandwidth</span></li>
                            <li class="param-row"><span class="text-overflow">10 Portfolio Items</span></li>
                        </ul>
                    </div>
                    <div class="pricing-buy">
                        <a href="#"
                           class="order-href">
                            <span class="text-overflow">
                                Order now
                            </span>
                        </a>
                    </div>
                </div>
                <div class="pricing-block">
                    <div class="pricing-block-header">
                        <span class="text-overflow">
                            Standard
                        </span>
                    </div>
                    <div class="pricing-block-price">
                        <span class="price">
                            <span class="text-overflow">
                                $50/mo
                            </span>
                        </span>
                    </div>
                    <div class="pricing-block-params">
                        <ul>
                            <li class="param-row"><span class="text-overflow">5 GB space</span></li>
                            <li class="param-row-alternative"><span class="text-overflow">50 GB Bandwidth</span></li>
                            <li class="param-row"><span class="text-overflow">70 Portfolio Items</span></li>
                            <li class="param-row-alternative"><span class="text-overflow">10 Video Uploads</span></li>
                            <li class="param-row"><span class="text-overflow">24/7 Support</span></li>
                        </ul>
                    </div>
                    <div class="pricing-buy">
                        <a href="#"
                           class="order-href">
                            <span class="text-overflow">
                                Order now
                            </span>
                        </a>
                    </div>
                </div>
                <div class="pricing-block">
                    <div class="pricing-block-header">
                        <span class="text-overflow">
                            Pro
                        </span>
                    </div>
                    <div class="pricing-block-price">
                        <span class="price">
                            <span class="text-overflow">
                                $80/mo
                            </span>
                        </span>
                    </div>
                    <div class="pricing-block-params">
                        <ul>
                            <li class="param-row text-overflow"><span class="text-overflow">10 GB space</span></li>
                            <li class="param-row-alternative"><span class="text-overflow">Unlimited Bandwidth</span></li>
                            <li class="param-row"><span class="text-overflow">200 Portfolio Items</span></li>
                            <li class="param-row-alternative"><span class="text-overflow">20 Video Uploads</span></li>
                            <li class="param-row"><span class="text-overflow">Premium Email Support</span></li>
                            <li class="param-row-alternative"><span class="text-overflow">Premium Phone Support</span></li>
                            <li class="param-row"><span class="text-overflow">24/7 Support</span></li>
                        </ul>
                    </div>
                    <div class="pricing-buy">
                        <a href="#"
                           class="order-href">
                            <span class="text-overflow">
                                Order now
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>